@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-gray-100;
        overflow-x: hidden;
    }

    @media (min-width: 768px) {
        .h1-text {
            font-size: 56px;

            line-height: 1.19;
        }
    }
}


@layer components {
    .intent {
        @apply flex justify-between items-center p-4 cursor-pointer rounded-lg text-black max-w-md bg-white border border-gray-200;
    }

    .intent:hover {
        @apply shadow-xl;
    }
}