@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-white;
        overflow: hidden;
    }

    @media (min-width: 768px) {
        .h1-text {
            font-size: 56px;

            line-height: 1.19;
        }
    }
}


@layer components {
    .intent {
        @apply flex justify-between items-center p-4 cursor-pointer rounded-lg text-black max-w-md bg-white border border-gray-200;
    }

    .intent:hover {
        @apply shadow-xl;
    }

    .sidebarButton {
        @apply border-gray-600 py-3 px-4 cursor-pointer opacity-80;
    }

    .sidebarButton:hover {
        @apply opacity-100;
    }

    .sidebarLink {
        @apply text-[13px] font-medium text-blue-500 cursor-pointer px-2.5;
    }

    .sidebarLink:hover {
        @apply underline;
    }

    .inputButton {
        @apply flex items-center space-x-2 font-medium cursor-pointer text-sm;
    }

    .postButton {
        @apply flex items-center justify-center space-x-2 cursor-pointer w-full py-2.5 rounded transition ease-out font-medium;
    }

    .postButton:hover {
        @apply bg-black/10;
    }
}